* {
	scrollbar-width: none;
}

body {
	margin: 0;
}

.popup {
	width: 250px;
	min-height: 100px;
	background-color: #212529;
}

.banner {
	position: relative;
	width: 100%;
	height: 90px;
	background-color: black;
}

.banner-logo {
	background-image: url(../resources/brand_logo_1.png);
    background-position: 10px 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-text {
	display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow';
    color: white;
}

.status-border {
	border: 2px solid rgb(255, 227, 79);
    border-radius: 20px;
    width: auto;
    height: auto;
}

.status-border.neg {
	border: 2px solid rgb(255, 107, 107);
}

.status-logo {
	width: 35px;
	height: 35px;
	background-image: url(../resources/icon_tick.png);
	background-position: 10px 9px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    float: left;
}

.status-logo.neg {
	background-image: url(../resources/icon_cross_red.png);
}

.status-text {
	height: 36px;
    color: rgb(255, 227, 79);
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    float: left;
}

.status-text.neg {
    color: rgb(255, 107, 107);
}

.link-text {
	font-size: 0.8rem;
}

button {
	display: inline-block;
	font-size: 0.9rem !important;
	width: 202px !important; /* Deliberate collapse workaround */
}

.disabled {
	pointer-events: none;
}


.container-loading {
	width: 100%;
	height: auto;
  display: flex;
  justify-content: center;
}

.collapse {
	width: 100% !important;
}

.unpause-status {
	width: 100%;
    background-color: black;
    border-radius: 2px;
}

.unpause-label {
	font-family: 'Barlow';
}

.unpause-label-b {
	color: white;
	font-size: 0.7rem !important;
}

.unpause-timer {
	font-size: 2rem;
    color: white;
    display: flex;
    align-items: flex-start;
    line-height: 1.5rem;
}

.unpause-timer-container {
	width: 100%;
}

.popup-ending-text {
	font-size: 0.7rem !important;
    color: rgb(255, 227, 79);
    text-align: center;
}

.text-yellow-in-popup {
	font-size: 0.7rem !important;
    color: rgb(255, 227, 79);
    text-align: center;
}

.popup-ending-image {
	width: 100%;
	height: 60px;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
	background-image: url(../resources/icon_smile.png);
}



